.banner {
    width: 90%;
    max-height: 70%;
}

.MuiSvgIcon-root {
    pointer-events: none;
}

.sign {
    margin-bottom: 20px;
}

.garbage {
    height: 30px !important;
}

.banner_url {
    margin-bottom: 35px;
}

.btn_handle{
    display: inline-block;
    height: 25px;
    padding: 3px 10px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}